<!DOCTYPE html>
<html ng-app>
	<head >
		<title>Bob</title>
		<meta charset="utf-8">
		<style>

			.chart rect {
				stroke: white;
				fill: steelblue;
				}
			.chart text {
				font: 10px sans-serif;
				fill: white;
			}
			.accessible{
				background-color: green;
			}
			.accessible-not{
				background-color: transparent;
			}
			.unaccessible-not, .unaccessible{
				background-color: pink;
			}


		</style>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				var data = [4, 8, 15, 16, 23, 42];
				var chart = d3.select("#chartContainer").append("svg")
					.attr("class", "chart")
					.attr("width", 420)
					.attr("height", 20 * data.length);
				chart.selectAll("div")
					.data(data)
					.enter().append("div")
					.style("width", function(d) { return d * 10 + "px"; })
					
				var x = d3.scale.linear()
					.domain([0, d3.max(data)])
					.range(["0", "420"]);
				var y = d3.scale.ordinal()
					.domain(data)
					.rangeBands([0, 120]);
				chart.selectAll("rect")
					.data(data)
					.enter().append("rect")
					.attr("y", y)
					.attr("width", x)
					.attr("height", y.rangeBand())
					.text(String);
				chart.selectAll("text")
					.data(data)
					.enter().append("text")
					.attr("x", x)
					.attr("y", function(d) { return y(d) + y.rangeBand() / 2; })
					.attr("dx", -3) // padding-right
					.attr("dy", ".35em") // vertical-align: middle
					.attr("text-anchor", "end") // text-align: right
					.text(String);
			    
			});

			function formatCtrl ($scope) {
			 	$scope.devices = [
			 		{
			 			"category":"Desktop",			 		
			 			"EPUB":"yes",
			 			"PDF":"yes",
			 			"PubApp":"no"
		 			},
		 			{
			 			"category":"Tablet",			 			
		 				"EPUB":"yes",
		 				"PDF":"depends",
		 				"PubApp":"yes"
			 		},
			 		{
			 			"category":"Phone",
		 				"EPUB":"yes",
		 				"PDF":"no",
		 				"PubApp":"depends"
			 			
			 		}
			 	];

			 	$scope.features=[
		  	     	{
		  	     		id:"accces",
		  	     		name:"508",
		  	     		sort:1,
		  	     		question:"Your product need to be 508 compliant?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"reflow",
		  	     		name:"Reflowable Text",
		  	     		sort:2,
		  	     		question:"Your need to have reflowable text?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"partially",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"audio",
		  	     		name:"Audio",
		  	     		sort:3,
		  	     		question:"Your product use audio files?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"video",
		  	     		name:"Video",
		  	     		sort:4,
		  	     		question:"Your product use video files?",
		  	     		EPUB:"partially",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"markers",
		  	     		name:"Video Markers",
		  	     		question:"Your product use video markers or links to specific time frames?",
		  	     		sort:5,
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"hyperlinks",
		  	     		name:"Hyperlinks",
		  	     		sort:6,
		  	     		question:"Your product require hyperlinks?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"hyper_intern",
		  	     		name:"Hyperlinks to Internal Content",
		  	     		sort:7,
		  	     		question:"Your product require hyperlinks to internal content?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"partially",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{	
		  	     		id:"pubthumb",		 			  	     		
		  	     		name:"Publication-page Thumbnail",
		  	     		sort:8,
		  	     		question:"Your product require publication-pag thumbnails?",
		  	     		EPUB:"partially",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"partially",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"javascript",
		  	     		name:"Javascript",
		  	     		sort:9,
		  	     		question:"Your product use javascript?",
		  	     		EPUB:"partially",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"partially",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"forms",
		  	     		name:"Forms",
		  	     		sort:10,
		  	     		question:"Your product require forms?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"partially",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"button",
		  	     		name:"Button Actions",
		  	     		sort:11,
		  	     		question:"Your product require buttons that preform an action?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"multiaction",
		  	     		name:"Multiple Actions On Buttons",
		  	     		sort:12,
		  	     		question:"Your product require buttons that preform an multiple actions?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"resize",
		  	     		name:"Text Resize",
		  	     		sort:13,
		  	     		question:"Your text need to be resizable?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"zoom",
		  	     		name:"Zoomable",
		  	     		sort:14,
		  	     		question:"Your product need to be zoomable?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"yes",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"pan",
		  	     		name:"Panning",
		  	     		sort:15,
		  	     		question:"Your images need to be pannable?",
		  	     		EPUB:"no",
		  	     		PDF:"no",
		  	     		Replica:"partially",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"panorama",
		  	     		name:"Panoramas",
		  	     		question:"Your product require panoramas?",
		  	     		sort:16,
		  	     		EPUB:"no",
		  	     		PDF:"no",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"slideshow",
		  	     		name:"Slideshow",
		  	     		sort:17,
		  	     		question:"You need an image or text slideshow?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"videoslide",
		  	     		name:"Video Slideshow",
		  	     		sort:18,
		  	     		question:"Your need a video slideshow?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"replace",
		  	     		name:"Content Replacement",
		  	     		sort:19,
		  	     		question:"Your product require content replacement?",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"webcontent",
		  	     		name:"In-page Embeded Web Content",
		  	     		sort:20,
		  	     		question:"Your product require in-page embeded web content?",
		  	     		EPUB:"no",
		  	     		PDF:"partially",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes", 
		  	     		checked:false
		  	     	},
		  	     	
		  	     	{
		  	     		id:"3d",
		  	     		name:"3D",
		  	     		sort:21,
		  	     		question:"Your product require 3d rotatable objects?",
		  	     		EPUB:"no",
		  	     		PDF:"no",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"scrolling",
		  	     		name:"In-page Scrolling",
		  	     		sort:22,
		  	     		question:"Your product require in-page scrolling?",
		  	     		EPUB:"no",
		  	     		PDF:"no",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"vector",
		  	     		name:"Vectors Images",
		  	     		sort:23,
		  	     		question:"Your product require vector images?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"animation",
		  	     		name:"In-page Animated",
		  	     		sort:24,
		  	     		question:"Your product require in-pageanimation?",
		  	     		EPUB:"partially",
		  	     		PDF:"no",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"dragdrop",
		  	     		name:"Drag and Drop",
		  	     		sort:25,
		  	     		question:"Your product require drag and drop items?",
		  	     		EPUB:"no",
		  	     		PDF:"no",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"dynamic",
		  	     		name:"Dynamic Server Content",
		  	     		sort:26,
		  	     		question:"Your product require content to be served dynamically from a web server?",
		  	     		EPUB:"yes",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"yes",
		  	     		HTML5:"yes",
		  	     		checked:false
		  	     	},
		  	     	{
		  	     		id:"attach",
		  	     		name:"Attachments",
		  	     		sort:27,
		  	     		question:"Your product require document attachments",
		  	     		EPUB:"no",
		  	     		PDF:"yes",
		  	     		Replica:"no",
		  	     		App:"no",
		  	     		HTML5:"partially",
		  	     		checked:false
		  	     	
		  	     	}
	  	     	];

	  	     	$scope.predicate = '';
	  	     	//poorly written
	  	     	$scope.epub_partial = [];
	  	     	$scope.epub_no = [];
	  	     	$scope.pdf_partial = [];
	  	     	$scope.pdf_no = [];
	  	     	$scope.replica_partial = [];
	  	     	$scope.replica_no = [];
	  	     	$scope.app_partial = [];
	  	     	$scope.app_no = [];
	  	     	$scope.html_partial = [];
	  	     	$scope.html_no = [];

						
				$scope.deviceModel = function () {	
						//might fix this with a do while ? runs three times				
						$scope.checkTotal();

						var deviceList = ["yes","yes","yes", "yes", "yes"];
						if ($scope.deviceDesktop == true){
							deviceList.splice(3, 1, "no");  						 
						}if ($scope.devicePhone == true){
							deviceList.splice(1, 1, "no"); deviceList.splice(2, 1, "no");
							if(deviceList[2]=="yes"){deviceList.splice(2, 1, "depends");}
						}if ($scope.deviceTablet == true){
							if(deviceList[1]=="yes"){deviceList.splice(1, 1, "depends"); deviceList.splice(2, 1, "depends");}
						};

					return	deviceList; 
				};
				//poorly written
				$scope.checkTotal = function (index){
					if($scope.features[index].EPUB == "partially"){
						$scope.epub_partial.push(
							$scope.features[index].EPUB
							)				
					}else if($scope.features[index].EPUB == "no"){
						$scope.epub_no.push(
							$scope.features[index].EPUB
							);
					}
					if($scope.features[index].PDF == "partially"){
						$scope.pdf_partial.push(
							$scope.features[index].PDF
							);				
					}else if($scope.features[index].PDF == "no"){
						$scope.pdf_no.push(
							$scope.features[index].PDF
							);
					}
					if($scope.features[index].Replica == "partially"){
						$scope.replica_partial.push(
							$scope.features[index].Replica
							);				
					}else if($scope.features[index].Replica == "no"){
						$scope.replica_no.push(
							$scope.features[index].Replica
							);
					}
					if($scope.features[index].App == "partially"){
						$scope.app_partial.push(
							$scope.features[index].App
							);				
					}else if($scope.features[index].App == "no"){
						$scope.app_no.push(
							$scope.features[index].App
							);
					}
					if($scope.features[index].HTML == "partially"){
						$scope.html_partial.push(
							$scope.features[index].HTML
							);				
					}else if($scope.features[index].HTML == "no"){
						$scope.html_no.push(
							$scope.features[index].HTML
							);

					};

				}	
			}
				   			
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<label for="email">To use these tools you must provide your email. We never sell your information and limit our email campaigns to four times a year.</label>
				<input id="email" type="email" name="email">
			</div>
			<div  class="row-fluid" id="chartContainer"></div>
			<div  class="row-fluid" ng-controller="formatCtrl">
				<h2>Which format is right for my project?</h2>
				<table class="table table-striped" id="featuresList">
					<thead><tr>
						<th> <a href="" ng-click="predicate = 'sort'; reverse=false">?#</a></th>
						<th> <a href="" ng-click="predicate = 'name'; reverse=false">Feature</a></th>
						<th> <a href="" ng-click="predicate = 'EPUB'; reverse=false">EPUB {{epub_partial.length}} {{epub_no.length}}</a></th>
						<th> <a href="" ng-click="predicate = 'PDF'; reverse=false">PDF {{pdf_partial.length}} {{pdf_no.length}}</a></th>
						<th> <a href="" ng-click="predicate = 'Replica'; reverse=false">Replica {{replica_partial.length}} {{replica_no.length}}</a></th>
						<th> <a href="" ng-click="predicate = 'App'; reverse=false">Pub App {{app_partial.length}} {{app_no.length}}</a></th>
						<th> <a href="" ng-click="predicate = 'HTML5'; reverse=false">HTML5
							{{html_partial.length}} {{html_no.length}}</a></th>
					</thead>
					<tbody>				
						<tr ng-repeat="data in features | orderBy:predicate:reverse" ng-show="data.checked" > 
							<td>{{data.sort}}</td>
							<td>{{data.name}}</td>
							<td class="EPUB">{{data.EPUB}}</td>
							<td class="PDF">{{data.PDF}}</td>
							<td class="Replica">{{data.Replica}}</td>
							<td class="App">{{data.App}}</td>
							<td class="HTML5">{{data.HTML5}}</td>
						</tr>
					</tbody>
				</table>
				
				
				<form>	
					<hr>
						
					<hr>
					<div class="control-group" ng-repeat="question in features">
					    <div class="controls" >	
					    	<label class="control-label" for="{{question.id}}"><input class="checkbox inline"type="checkbox" id="question.id" ng-model="question.checked" name="group" ng-change="checkTotal($index)"> {{question.sort}}. {{question.question}}
								
							</label>
						</label>
						</div>
					</div>

					<label for="layout">How complex is your layout?</label>
					<input type="range" name="layout" min="1" max="5">
					<div class="control-group">
					    <div class="controls" >	
					    	<label class="control-label">Which devices will you product be distributed to?</label>

							<label class="checkbox inline">
								<input ng-model="deviceDesktop" type="checkbox" value="desktop" ng-change="deviceModel()">Desktop</input>
							</label>
							<label class="checkbox inline">
								<input ng-model="deviceTablet" type="checkbox" ng-change="deviceModel()" value="ipad">Tablet</input>
							</label>
							<label class="checkbox inline">
								<input ng-model="devicePhone" type="checkbox" ng-change="deviceModel()" value="phone">Phone</input>
							</label>
							
						</div>
					</div>

				</form>
			</div>
			<div class="row-fluid">
				<h2>What is my recomended project timeline?</h2>
				<form>
					<label for="fontSize">What is the average font size and leading?</label>
					<input id="fontSize" name="fontSize" type="text" placeholder="font size"></input>/
					<input id="leading" name="leading" type="text" placeholder="leading"></input>
					<label for="wordCount">What is the average font size and leading?</label>
					<input id="wordCount" name="wordCount" type="text" placeholder="fontSize"></input>
					<label for="pageTotal">How many total page for this document?</label>
					<input id="pageTotal" name="pageTotal" type="text" placeholder="number of pages"></input>
					<label for="startDate">When is the earliest you can start this project?</label>
					<input id="startDate"type="date" name="startDate">
					<label for="endDate">When is the project due to the client?</label>
					<input id="endDate"type="date" name="endDate">
				</form>
			</div>
		</div>

	</body>


	
</html>